<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
	        		<li><a href="./assets/cv.pdf">cv</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kontakt@gabrielschutz.de">email</a></li>
				<li><a href="https://www.linkedin.com/in/gabriel-sch%C3%BCtz-de-souza-271654b7/">linkedin</a></li>
				<li><a href="https://github.com/gabrielgydu">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
